.container {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(255, 250, 240, 0.082);
}

    .container > .row {
        width: 1000px;
        margin-left: calc( (100% - 1000px) /2);
        background-color: yellow;
    }
